@import "../../global";
.about {
  margin-left: 29rem;
  height: 100vh;
  background-color: $background;
  padding-top: 13rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  .title {
    margin-bottom: 6.8rem;
    font-size: 2.7rem;
  }
  .avatar {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    margin: auto auto;
    &-img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .intro {
    width: 79rem;
    height: 23rem;
    background-color: #302f4e;
    border-radius: 2rem;
    padding: 3rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    .left{
        font-size: 1.4rem;
        line-height: 1.5;
        margin-top: 2rem;
        &-content{
            margin-bottom: 3rem;
        }
    }
    .right{
      .right-item:not(:last-child){
        margin-bottom: 2rem;
      }
      .right-item-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        & span{
          margin-right: 1.2rem;
        }
      }
      .range{
        width: 34rem;
        height: 0.8rem;
        border-radius: 2rem;
        background-color: #f1f1f1;
        overflow: hidden;
        .percent{
          width: 20rem;
          background-color: rgb(123, 105, 141);
          height: 0.8rem;
          border-radius: 2rem;
          transform: translateX(-1px);
        }
      }
    }
  }
  .content {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
.about-content {
  max-width: 103.5rem;
  margin: 0 auto;
}
