@import "../../global";
.about {
  margin-left: 29rem;
  height: 100vh;
  background-color: $background;
  padding-top: 13rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  .title {
    margin-bottom: 6.8rem;
    font-size: 2.7rem;
  }
  .avatar {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    margin: auto auto;
    &-img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .intro {
    width: 79rem;
    height: 23rem;
    background-color: #302f4e;
    border-radius: 2rem;
    padding: 3rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    .left{
        font-size: 1.4rem;
        line-height: 1.5;
        &-content{
            margin-bottom: 3rem;
        }
    }
  }
  .content {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
.about-content {
  max-width: 103.5rem;
  margin: 0 auto;
}
