@import "../../global";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #454545;
  padding: 0 0.5rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;

  .menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-link {
    padding: 0.3rem;
  }
  .menu-link:hover {
    color: red;
  }
  .social a{
    padding: 0.2rem;
  }
}
