@import "../../global";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29rem;
  height: 100vh;
  padding-left: 4rem;
  background-color: $background;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid rgba($color: #fff, $alpha: 0.1) ;
 
  .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    // align-items: center;
  }
  .logo {
    margin-top: 5rem;
    font-size: 2.7rem;
  }
  .head-footer{
    margin-bottom: 1rem;
  }
}
.menu-link{
  font-size: 2rem;
  font-weight: bold;
}
.menu-link:hover{
  color: $hover;
  transition: ease 0.4s;
}
